$grey: rgba(0, 0, 0, .1);
$header-height: 40px;

.zheye-codepan-container {
  height: 100vh;
  header {
    display: flex;
    border-bottom: 1px solid $grey;
    height: $header-height;
    justify-content: center;
    align-items: center;
    padding: 0 10px 0 10px;

    ul.btn-lan-list {
      display: flex;
      height: 100%;
      li.btn-lan-item {
        flex: 1;
        line-height: $header-height;
        padding: 0 10px;
        border-left: 1px solid $grey;
        cursor: pointer;
        &:nth-last-child(1) {
          border-right: 1px solid $grey;
        }
        &.active {
          background-color: #e8f2ff;
        }
      }
    }

    .btn-action {
      margin-left: 20px;
    }
  }

  main {
    position: fixed;
    top: $header-height;
    left: 0;
    right: 0;
    bottom: $header-height;
    display: flex;
    
    & > div {
      height: 100%;
      position: absolute;
      overflow: hidden;
      // top: 0;
      // bottom: 0;
      header.code-header {
        display: block;
        border: none;
        height: 40px;
        line-height: 40px;
      }

      .ReactCodeMirror {
        height: calc(100% - 40px);
        .CodeMirror {
          height: 100%;
          .CodeMirror-gutter-wrapper {
            .CodeMirror-linenumber {
            }
          }
          .CodeMirror-gutters {
            background-color: transparent;
            border: none;
          }
          .CodeMirror-simplescroll-vertical {
            background-color: transparent;
            div {
              border: none;
              border-radius: 10px;
              background-color: rgba(0, 0, 0, .1);
            }
          }
        }
      }

      div.panel-resizer-line {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        border-right: 1px solid $grey;
        width: 5px;
        z-index: 1000;
        &:hover {
          border-right: 1px dashed #65a8ff;
          cursor: ew-resize;
        }
      }
    }
    .code-css {
      
    }
    .code-html {
      
    }
    .code-js {
      
    }
    .code-show {
      
    }
  }

  footer {
    height: $header-height;
    line-height: $header-height;
    border-top: 1px solid $grey;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
  }
}


