.write-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  .edit-area {
    width: 50%;
    height: 100%;
    background: rgba(0, 0, 0, 0.01);
    box-shadow: 3px -10px 15px rgba(0, 0, 0, 0.08);
  }
  .text-show-area {
    width: 50%;
    height: 100%;
    overflow-y: scroll;
    padding: 20px;
  }
}

.eidtor-header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  line-height: 56px;
  padding: 0 24px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.03);
  display: flex;
  justify-content: space-between;
  .anticon {
    font-size: 16px;
    transition: all .2s ease;
    &:hover {
      color: #0099ff;
      transform: scale(1.4);
    }
  }
  .header-user-menu {
    cursor: pointer;
    padding: 0 10px;
    &:hover {
      background: #e7e7e7;
      color: #0099ff;
    }
  }
  .mode-controller {
    line-height: 56px;
    .ant-switch {
      margin-right: 10px;
    }
  }
}
