.admin-main-con {
  height: 100vh;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  header {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 0 0 0 20px;
    border-bottom: 1px solid #fff;
  }
  .ant-layout {
    height: 100%;
    .ant-layout-sider {
    }
    .ant-menu {
      height: 100%;
    }
    .ant-layout-content {
      position: absolute;
      left: 256px;
      right: 0;
      bottom: 0;
      top: 0;
      padding: 30px;

      .user-edit-panel {
        .btn-action-area {
          .ant-btn {
            margin-right: 10px;
          }
        }
      }

      .doc-upload-panel {
        display: flex;
        height: 100%;
        .doc-edit {
          flex: 1;
          padding-right: 10px;
          border-right: 1px dashed #aaa;
        }
        .doc-edit-show {
          flex: 1;
          padding: 24px;
          .doc-content {
          }
        }
        .ant-table-wrapper {
          width: 100%;
        }
      }

      .doc-edit-panel {
        .doc-type-select {
          margin-bottom: 20px;
        }
      }
    }
  }
}
